<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <img src="/img/logo.png" class="logo">
      <h3 class="text-center">Account Register</h3>
      <form action="/users/register" method="post">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" id="name" {{#if values}} value={{values.name}} {{/if}} required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" name="email" id="email" {{#if values}} value={{values.email}} {{/if}} required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password" {{#if values}} value={{values.password}} {{/if}} required>
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input type="password" class="form-control" name="password2" id="password2" {{#if values}} value={{values.password2}} {{/if}} required>
        </div>
        <button class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>